<div class="center jumbotron">
  <h1>Welcome to the Potepangram</h1>

  <h2>This is an Potepangram application that can post photos.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>